*.iml
*.ipr
*.iws
.idea
.svn
.classpath
.project
.settings
target
./.DS_Store
./.git/.DS_Store
./.git/logs/.DS_Store
./.git/logs/refs/.DS_Store
./.git/logs/refs/remotes/.DS_Store
./.git/objects/.DS_Store
./.git/refs/.DS_Store
./.git/refs/remotes/.DS_Store
./.idea/.DS_Store
./docs/.DS_Store
./docs/src/.DS_Store
./docs/src/site/.DS_Store
./docs/src/site/resources/.DS_Store
./out/.DS_Store
./out/artifacts/.DS_Store
./tez-api/.DS_Store
./tez-api/src/.DS_Store
./tez-api/src/main/.DS_Store
./tez-api/src/main/java/.DS_Store
./tez-api/src/main/java/org/.DS_Store
./tez-api/src/main/java/org/apache/.DS_Store
./tez-api/src/main/java/org/apache/tez/.DS_Store
./tez-api/src/main/java/org/apache/tez/common/.DS_Store
./tez-api/src/main/java/org/apache/tez/dag/.DS_Store
./tez-api/src/main/java/org/apache/tez/dag/api/.DS_Store
./tez-api/src/main/java/org/apache/tez/dag/api/client/.DS_Store
./tez-api/src/main/java/org/apache/tez/runtime/.DS_Store
./tez-api/src/main/java/org/apache/tez/runtime/api/.DS_Store
./tez-api/src/main/resources/.DS_Store
./tez-api/src/main/resources/META-INF/.DS_Store
./tez-api/src/test/.DS_Store
./tez-api/src/test/java/.DS_Store
./tez-api/src/test/java/org/.DS_Store
./tez-api/src/test/java/org/apache/.DS_Store
./tez-api/src/test/java/org/apache/tez/.DS_Store
./tez-api/src/test/java/org/apache/tez/common/.DS_Store
./tez-api/src/test/java/org/apache/tez/dag/.DS_Store
./tez-api/src/test/java/org/apache/tez/dag/api/.DS_Store
./tez-api/src/test/java/org/apache/tez/dag/api/client/.DS_Store
./tez-api/src/test/java/org/apache/tez/runtime/.DS_Store
./tez-api/src/test/java/org/apache/tez/runtime/api/.DS_Store
./tez-common/.DS_Store
./tez-common/src/main/java/org/apache/tez/.DS_Store
./tez-common/src/main/java/org/apache/tez/dag/.DS_Store
./tez-common/src/test/.DS_Store
./tez-common/src/test/java/.DS_Store
./tez-common/src/test/java/org/.DS_Store
./tez-common/src/test/java/org/apache/.DS_Store
./tez-common/src/test/java/org/apache/tez/.DS_Store
./tez-common/src/test/java/org/apache/tez/dag/.DS_Store
./tez-dag/.DS_Store
./tez-dag/src/main/.DS_Store
./tez-dag/src/main/java/org/apache/tez/.DS_Store
./tez-dag/src/main/java/org/apache/tez/dag/.DS_Store
./tez-dag/src/main/java/org/apache/tez/dag/api/.DS_Store
./tez-dag/src/main/java/org/apache/tez/dag/api/client/.DS_Store
./tez-dag/src/main/java/org/apache/tez/dag/app/.DS_Store
./tez-dag/src/main/java/org/apache/tez/dag/app/dag/.DS_Store
./tez-dag/src/main/java/org/apache/tez/dag/app/rm/.DS_Store
./tez-dag/src/main/java/org/apache/tez/dag/history/.DS_Store
./tez-dag/src/main/java/org/apache/tez/runtime/.DS_Store
./tez-dag/src/test/.DS_Store
./tez-dag/src/test/java/org/apache/tez/.DS_Store
./tez-dag/src/test/java/org/apache/tez/dag/.DS_Store
./tez-dag/src/test/java/org/apache/tez/dag/api/.DS_Store
./tez-dag/src/test/java/org/apache/tez/dag/app/dag/.DS_Store
./tez-dag/src/test/java/org/apache/tez/dag/app/rm/.DS_Store
./tez-dag/src/test/java/org/apache/tez/dag/history/.DS_Store
./tez-dag/src/test/java/org/apache/tez/runtime/.DS_Store
./tez-dist/.DS_Store
./tez-dist/src/.DS_Store
./tez-dist/src/main/.DS_Store
./tez-examples/.DS_Store
./tez-examples/src/.DS_Store
./tez-examples/src/main/.DS_Store
./tez-examples/src/main/java/.DS_Store
./tez-examples/src/main/java/org/.DS_Store
./tez-examples/src/main/java/org/apache/.DS_Store
./tez-examples/src/main/java/org/apache/tez/.DS_Store
./tez-flink/.DS_Store
./tez-flink/src/.DS_Store
./tez-flink/src/main/.DS_Store
./tez-flink/src/main/java/.DS_Store
./tez-flink/src/main/java/org/.DS_Store
./tez-flink/src/main/java/org/apache/.DS_Store
./tez-flink/src/main/java/org/apache/flink/.DS_Store
./tez-flink/src/test/.DS_Store
./tez-mapreduce/.DS_Store
./tez-mapreduce/src/main/.DS_Store
./tez-mapreduce/src/main/java/org/apache/tez/.DS_Store
./tez-mapreduce/src/main/java/org/apache/tez/dag/.DS_Store
./tez-mapreduce/src/main/java/org/apache/tez/dag/api/.DS_Store
./tez-mapreduce/src/main/java/org/apache/tez/mapreduce/.DS_Store
./tez-mapreduce/src/main/resources/.DS_Store
./tez-mapreduce/src/main/resources/META-INF/.DS_Store
./tez-plugins/.DS_Store
./tez-plugins/tez-yarn-timeline-history/.DS_Store
./tez-runtime-internals/.DS_Store
./tez-runtime-library/.DS_Store
./tez-runtime-library/src/main/.DS_Store
./tez-runtime-library/src/main/java/org/apache/hadoop/.DS_Store
./tez-runtime-library/src/main/java/org/apache/tez/.DS_Store
./tez-simple-app/.DS_Store
./tez-simple-app/src/.DS_Store
./tez-simple-app/src/main/.DS_Store
./tez-simple-app/src/test/.DS_Store
./tez-simple-app/target/.DS_Store
./tez-simple-app/target/classes/.DS_Store
./tez-simple-app/target/classes/org/.DS_Store
./tez-simple-app/target/classes/org/apache/.DS_Store
./tez-simple-app/target/classes/org/apache/tez/.DS_Store
./tez-simple-app/target/generated-sources/.DS_Store
./tez-tests/.DS_Store
./tez-tests/src/test/java/org/apache/tez/.DS_Store
./tez-tests/src/test/java/org/apache/tez/test/.DS_Store
./tez-tools/.DS_Store
